{
  "openapi": "3.1.1",
  "info": {
    "title": "DaData.ru API",
    "version": "0.1.0",
    "description": "[DaData](https://dadata.ru) — это сервис подсказок и поиска по российским адресам, организациям, ФИО и другим данным.\n\nДанная спецификация включает полный список публичных API «Дадаты» с детальным описанием формата запросов и ответов.\n\n_Спецификация не является официальным продуктом «Дадаты»_.\n\n## Аутентификация\n\n- Запросы к API подсказок и «Поиск по коду» требуют передать API-ключ (токен) в заголовке `Authorization: Token <API_KEY>`. [Получить API-ключ](https://dadata.ru/profile/#info)\n- Запросы к API «Стандартизации», а также данным об аккаунте, помимо токена, требуют также указать секретный ключ в заголовке `X-Secret: <SECRET_KEY>`\n  **Внимание!** Запросы к «Стандартизации» и данным аккаунта (любые запросы, где требуется заголовок `X-Secret`) недоступны из браузера.\n\nНекоторые сервисы являются платными. Для уточнения цен и условий ознакомьтесь с [соответствующим разделом](https://dadata.ru/pricing/) официального сайта.\n\n## Лимиты запросов\n\n### API «Подсказки» (`suggest`) и «Поиск по коду» (`findById`):\n\n- До **30 запросов в секунду** на один IP\n- До **60 новых соединений в минуту** на один IP\n- Суточные лимиты зависят от тарифного плана.\n\n### API стандартизации:\n\n- До **20 запросов в секунду** на один IP\n- До **60 новых соединений в минуту** на один IP\n\n## Важно знать\n\nДанная спецификация составлена на основании официального описания от DaData и анализа ответов API, но не является официальной.\nПри обнаружении расхождений с официальными ресурсами, имейте в виду:\n\n- В некоторых случаях, данный документ исправляет неточности официальной документации.\n- Но не исключены ошибки, отставание от официальных обновлений, или ограничения, связанные с противоречиями и неполнотой официальных ресурсов.\n\n## Если у вас есть вопросы:\n\n- По спецификации - откройте Issue и дискуссию [на GitHub](https://github.com/alexchexes/dadata-sdk)\n- Официальная поддержка «Дадаты»: [support.dadata.ru](https://support.dadata.ru/)\n",
    "contact": {
      "name": "Dadata SDK на GitHub (unofficial)",
      "url": "https://github.com/alexchexes/dadata-sdk"
    },
    "termsOfService": "https://dadata.ru/offer/",
    "license": {
      "name": "Оферта «Дадаты»",
      "url": "https://dadata.ru/offer/"
    }
  },
  "servers": [
    {
      "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs",
      "description": "Для сервисов «Подсказок» и «Поиск по коду»"
    },
    {
      "url": "https://cleaner.dadata.ru/api/v1",
      "description": "Для сервисов «Стандартизации»"
    },
    {
      "url": "https://dadata.ru/api/v2",
      "description": "Эндпоинты, связанные с аккаунтом пользователя или самой «Дадатой»"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "suggest",
      "description": "«Подсказки» выполняют полнотекстовый поиск и возвращают почтовые адреса, ФИО, реквизиты компаний или банков, и другую информацию в структурированном виде.\n\n- [Общая информация](https://dadata.ru/suggestions/)\n- [О подключении к разным проектам](https://dadata.ru/suggestions/usage/)\n- [Список типов подсказок](https://dadata.ru/api/suggest/)\n",
      "externalDocs": {
        "url": "https://dadata.ru/api/suggest/"
      }
    },
    {
      "name": "findById",
      "description": "Сервисы поиска по коду (идентификатору), как правило, используют те же справочники, что и соответствующие им сервисы «Подсказок», но позволяют получить конкретную запись или набор записей, если заранее известен необходимый идентификатор / код. Например, для сервиса «Компании РФ» это может быть ИНН или ОГРН; в каждом API - свой список поддерживаемых типов идентификаторов.\n\nВ ряде случаев (например, при поиске организаций), получить максимально полную информацию можно используя именно «Поиск по коду».\n"
    },
    {
      "name": "clean",
      "description": "Сервисы стандартизации исправляют ошибки, приводят контакты к единому формату. Принимают данные строкой и отдаёт назад структурированный ответ. Отмечают мусорные сведения и те, что стоит проверить.\n\n- [Общая информация](https://dadata.ru/clean/)\n- [Список типов стандартизации](https://dadata.ru/api/clean/)\n\n> **Вызовы ко всем API стандартизации из браузера запрещены CORS-политикой сервера «Дадаты».**\n",
      "externalDocs": {
        "url": "https://dadata.ru/api/clean/"
      }
    },
    {
      "name": "iplocate",
      "description": "Сервис определяет город по IP-адресу (в России). Использует IP-адрес клиента, значение из параметра ip или заголовок X-Forwarded-For.\n\n- Поддерживает как IPv4, так и IPv6 адреса.\n- Возвращает детальную информацию о городе, в том числе почтовый индекс.\n\n**Алгоритм выбора IP-адреса из параметров запроса:**\n\n```\nЕСЛИ IP указан в параметре ip\nТО использовать его\nИНАЧЕ\n  ЕСЛИ IP указан в HTTP-заголовке X-Forwarded-For\n  ТО использовать его\n  ИНАЧЕ вернуть IP сокета соединения\n```\n\nМестоположение определяется только для российских адресов.\n"
    },
    {
      "name": "cars",
      "x-summary": "Автомобили",
      "description": "Сервисы DaData, связанные с автомобилями"
    }
  ],
  "externalDocs": {
    "url": "https://dadata.ru/api/",
    "description": "Официальное описание на сайте Dadata\n"
  },
  "paths": {
    "/suggest/address": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/suggest/address/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=204669107"
        },
        {
          "url": "https://dadata.ru/suggestions/usage/address/"
        }
      ],
      "post": {
        "tags": ["suggest", "address"],
        "summary": "Подсказки по адресам",
        "description": "Ищет адреса по любой части адреса от региона до квартиры:\n`самара авроры 7 12` → `443017, Самарская обл, г Самара, ул Авроры, д 7, кв 12`.\nТакже ищет по почтовому индексу:\n`105568` → `г Москва, ул Магнитогорская`.\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/address/"
        },
        "operationId": "suggestAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestAddressPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "москва хабар"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestAddressResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/fias": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/suggest/fias/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=967835953"
        },
        {
          "url": "https://dadata.ru/suggestions/usage/fias/"
        }
      ],
      "post": {
        "tags": ["suggest", "fias"],
        "summary": "Подсказки по ФИАС",
        "description": "Ищет адреса строго по ФИАС. Нужны только если вам по какой-то причине важно точное, побуквенное соответствие справочнику адресов налоговой службы. В остальных случаях используйте Подсказки по адресу (`/suggest/address`).\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/fias/"
        },
        "operationId": "suggestFias",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestFiasPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "москва хабар"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFiasResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/party": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/suggest/party/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=204669122"
        },
        {
          "url": "https://dadata.ru/suggestions/usage/party/"
        }
      ],
      "post": {
        "tags": ["suggest", "party"],
        "summary": "Подсказки по организациям",
        "description": "Ищет компании и индивидуальных предпринимателей:\n- по ИНН, ОГРН и КПП;\n- названию (полному и краткому);\n- ФИО (для индивидуальных предпринимателей);\n- ФИО руководителя компании;\n- адресу до улицы\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/party/"
        },
        "operationId": "suggestParty",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestPartyPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "сбербанк"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPartyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/party_by": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "party_by"],
        "summary": "Подсказки по организациям Беларуси",
        "description": "Подсказки по справочнику организаций и индивидуальных предпринимателей Беларуси\nПоиск выполняется по полям:\n- `unp`\n- `full_name_ru`\n- `full_name_by`\n- `short_name_ru`\n- `short_name_by`\n- `trade_name_ru`\n- `trade_name_by`\n- `address`\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/party_by/"
        },
        "operationId": "suggestPartyBy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestPartyByPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "онлайнер"
                  }
                },
                "Только ликвидированные": {
                  "value": {
                    "query": "лар",
                    "filters": [
                      {
                        "status": "LIQUIDATED"
                      }
                    ]
                  }
                },
                "Только ИП": {
                  "value": {
                    "query": "лар",
                    "filters": [
                      {
                        "type": "INDIVIDUAL"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPartyByResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/party_kz": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "party_kz"],
        "summary": "Подсказки по организациям Казахстана",
        "description": "Подсказки по справочнику организаций и индивидуальных предпринимателей Казахстана\nПоиск выполняется по полям:\n- `bin`\n- `name_ru`\n- `name_kz`\n- `fio`\n- `address_ru`\n- `address_kz`\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/party_kz/"
        },
        "operationId": "suggestPartyKz",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestPartyKzPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "онлайн"
                  }
                },
                "Филиалы иностр. юрлиц": {
                  "value": {
                    "query": "хен",
                    "filters": [
                      {
                        "type": "FOREIGN_BRANCH"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPartyKzResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/bank": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/suggest/bank/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=262996078"
        },
        {
          "url": "https://dadata.ru/suggestions/usage/bank/"
        }
      ],
      "post": {
        "tags": ["suggest", "bank"],
        "summary": "Подсказки по банкам",
        "description": "Ищет кредитные организации:\n- по БИК,\n- SWIFT,\n- ИНН,\n- ИНН + КПП,\n- названию,\n- адресу до улицы.\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/bank/"
        },
        "operationId": "suggestBank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestBankPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "сбербанк"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestBankResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/fio": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/suggest/name/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=204669115"
        }
      ],
      "post": {
        "tags": ["suggest", "fio"],
        "summary": "Подсказки по ФИО",
        "description": "- Подсказывает ФИО одной строкой или отдельно фамилию, имя, отчество.\n- Исправляет клавиатурную раскладку («fynjy» → «Антон»).\n- Определяет пол.\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/name/"
        },
        "operationId": "suggestFio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestFioPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "Викт"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFioResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/email": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/suggest/email/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=234782803"
        },
        {
          "url": "https://dadata.ru/suggestions/usage/email/"
        }
      ],
      "post": {
        "tags": ["suggest", "email"],
        "summary": "Подсказки по email",
        "description": "- Подсказывает локальную часть (до «собачки»).\n- Подсказывает доменную часть (после «собачки»).\n- Исправляет опечатки (yadex.ru → yandex.ru).\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/email/"
        },
        "operationId": "suggestEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestEmailPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "anton@"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestEmailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/fms_unit": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "fms_unit"],
        "summary": "Подсказки по полю «Кем выдан паспорт»",
        "description": "Поиск выполняется по полям:\n- `name` - наименование (как в паспорте)\n- `code` - код подразделения\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/fms_unit/"
        },
        "operationId": "suggestFmsUnit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestFmsUnitPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "772-053"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFmsUnitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/postal_unit": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "postal_unit"],
        "summary": "Подсказки по отделениям Почты России",
        "description": "Поиск выполняется по полям:\n- `postal_code` - индекс\n- `address_str` - адрес\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/postal_unit/"
        },
        "operationId": "suggestPostalUnit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestPostalUnitPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "дежнева 2а"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPostalUnitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/fns_unit": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "fns_unit"],
        "summary": "Подсказки по налоговым инспекциям",
        "description": "Поиск выполняется по полям:\n- `code` - код инспекции\n- `name_short` - наименование\n- `address` - адрес\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/fns_unit/"
        },
        "operationId": "suggestFnsUnit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestFnsUnitPayload"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "query": "нижнего"
                  }
                },
                "Фильтр по региону": {
                  "description": "Фильтрация по полю `region_code` (первые 2 цифры КЛАДР-кода региона)",
                  "value": {
                    "query": "вор",
                    "filters": [
                      {
                        "region_code": "36"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFnsUnitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/fts_unit": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "fts_unit"],
        "summary": "Подсказки по таможенным органам и постам",
        "description": "Поиск выполняется по полям:\n- `code` - код таможни\n- `name_short` - короткое наименование\n- `name` - полное наименование\n- `address` - адрес\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/fts_unit/"
        },
        "operationId": "suggestFtsUnit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestFtsUnitPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "домодедово"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFtsUnitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/court": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "court"],
        "summary": "Подсказки по судам России",
        "description": "Поиск выполняется по полям:\n- `code` - Код суда (уникальный)\n- `name` - Полное название суда\n- `address` - Адрес суда\n- `legal_address` - Юридический адрес суда. Только у судов, которые являются юрлицами\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/court/"
        },
        "operationId": "suggestCourt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestCourtPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "ленинск"
                  }
                },
                "filter_court_type": {
                  "description": "Фильтрация работает по полю `court_type` (двухбуквенный тип суда)",
                  "value": {
                    "query": "ленинск",
                    "filters": [
                      {
                        "court_type": "MS"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCourtResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/metro": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "metro"],
        "summary": "Станции метро",
        "description": "Подсказки по станциям метро в Москве, Санкт-Петербурге и других городах России.\nПоиск выполняется по полям:\n- `name` - название станции\n- `city` - название города\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/metro/"
        },
        "operationId": "suggestMetro",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestMetroPayload"
              },
              "examples": {
                "simple_query": {
                  "summary": "Пример запроса",
                  "value": {
                    "query": "алек"
                  }
                },
                "only_spb": {
                  "summary": "Поиск среди станций Санкт-Петербурга",
                  "value": {
                    "query": "алек",
                    "filters": [
                      {
                        "city_kladr_id": "7800000000000"
                      }
                    ]
                  }
                },
                "only_open_in_moscow_on_line_5": {
                  "summary": "Поиск только среди открытых станций Кольцевой ветки Москвы",
                  "value": {
                    "query": "па",
                    "filters": [
                      {
                        "city": "Москва",
                        "line_id": "5",
                        "is_closed": null
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestMetroResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/car_brand": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "car_brand", "cars"],
        "summary": "Подсказки по маркам автомобилей на русском и английском языках",
        "description": "Поиск выполняется по полям:\n- `name_ru` - марка на русском языке\n- `name` - марка на исходном языке\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/car_brand/"
        },
        "operationId": "suggestCarBrand",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestCarBrandPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "форд"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCarBrandResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/country": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "country"],
        "summary": "Подсказки по странам мира (стандарт ISO 3166)",
        "description": "Поиск выполняется по полям:\n- `name` - Полное наименование страны\n- `name_short` - Краткое наименование\n- `code` - Цифровой код страны\n- `alfa2` - Буквенный код альфа-2\n- `alfa3` - Буквенный код альфа-3\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/country/"
        },
        "operationId": "suggestCountry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestCountryPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "та"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCountryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/currency": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "currency"],
        "summary": "Подсказки по мировым валютам (стандарт ISO 4217)",
        "description": "Поиск выполняется по полям:\n- `code` - Цифровой код валюты\n- `strcode` - Буквенный код валюты\n- `name` - Наименование валюты\n- `country` - Страна, в которой валюта является официальной\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/currency/"
        },
        "operationId": "suggestCurrency",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestCurrencyPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "руб"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCurrencyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/mktu": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "mktu"],
        "summary": "Подсказки по классификатору товаров и услуг (МКТУ)",
        "description": "Международный классификатор товаров и услуг на трех языках (русский, английский, французский).\nПоиск выполняется по полям:\n- `number` - Уникальный номер позиции в классификаторе\n- `name_ru` - Наименование на русском\n- `name_en` - Наименование на английском\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/mktu/"
        },
        "operationId": "suggestMktu",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestMktuPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "валенки"
                  }
                },
                "filter_by_mktu_class": {
                  "value": {
                    "query": "кра",
                    "filters": [
                      {
                        "class": "03"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestMktuResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/okved2": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "okved2"],
        "summary": "Подсказки по видам деятельности (ОКВЭД 2)",
        "description": "Общероссийский классификатор видов экономической деятельности\nПоиск выполняется по полям:\n- `kod` - Код ОКВЭД 2\n- `name` - Название вида деятельности\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/okved2/"
        },
        "operationId": "suggestOkved2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestOkved2Payload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "запуск"
                  }
                },
                "filter_by_razdel": {
                  "value": {
                    "query": "мыл",
                    "filters": [
                      {
                        "razdel": "C"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestOkved2Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/okpd2": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "okpd2"],
        "summary": "Подсказки по видам продукции (ОКПД 2)",
        "description": "Общероссийский классификатор продукции по видам экономической деятельности\nПоиск выполняется по полям:\n- `kod` - Код ОКПД 2\n- `name` - Наименование продукции или услуги\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/okpd2/"
        },
        "operationId": "suggestOkpd2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestOkpd2Payload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "калоши"
                  }
                },
                "filter_by_razdel": {
                  "value": {
                    "query": "уст",
                    "filters": [
                      {
                        "razdel": "A"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestOkpd2Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/suggest/oktmo": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["suggest", "oktmo"],
        "summary": "Подсказки по кодам муниципальных образований (ОКТМО)",
        "description": "Общероссийский классификатор территорий муниципальных образований\nПоиск выполняется по полю `oktmo` (8-значный код ОКТМО)\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/oktmo/"
        },
        "operationId": "suggestOktmo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestOktmoPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "546234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestOktmoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/address": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/find-address/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=312016944"
        }
      ],
      "post": {
        "tags": ["findById", "address"],
        "summary": "Адрес по коду ФИАС, ГАР, КЛАДР или кадастровому номеру",
        "description": "Находит адрес по идентификатору:\n- кадастровый номер (`stead_cadnum`, `house_cadnum` или `flat_cadnum`), только для России;\n- ФИАС-код, он же ГАР-код (`fias_id`), только для России;\n- КЛАДР-код (`kladr_id`), только для России;\n- Идентификатор OpenStreetMap (`fias_id`), только для Беларуси, Казахстана и Узбекистана;\n- Идентификатор GeoNames (`geoname_id`), для всех остальных стран.\nПо КЛАДР-коду ищет до улицы, по ФИАС-коду — до квартиры.\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/find-address/"
        },
        "operationId": "findAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindAddressPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "9120b43f-2fae-4838-a144-85e43c2bfb29"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestAddressResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/fias": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/find-fias/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=967835965"
        }
      ],
      "post": {
        "tags": ["findById", "fias"],
        "summary": "Адрес в ФИАС по идентификатору",
        "description": "Находит адрес в справочнике ФИАС по коду КЛАДР или ФИАС.\nПо КЛАДР-коду ищет до улицы, по ФИАС-коду — до дома. По ФИАС-коду квартиры не ищет\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/find-fias/"
        },
        "operationId": "findFias",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindFiasPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "9120b43f-2fae-4838-a144-85e43c2bfb29"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFiasResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/party": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/find-party/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=568918058"
        }
      ],
      "post": {
        "tags": ["findById", "party"],
        "summary": "Организация по ИНН или ОГРН",
        "description": "Находит компанию или ИП по ИНН или ОГРН.\nВозвращает все доступные сведения о компании, в отличие от метода suggest, который возвращает только базовые поля.\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/find-party/"
        },
        "operationId": "findParty",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindPartyPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "7707083893"
                  }
                },
                "only_main_branch": {
                  "value": {
                    "query": "7707083893",
                    "branch_type": "MAIN"
                  }
                },
                "find_branch_by_kpp": {
                  "value": {
                    "query": "7707083893",
                    "kpp": "540602001"
                  }
                },
                "only_companies": {
                  "value": {
                    "query": "7707083893",
                    "type": "LEGAL"
                  }
                },
                "only_individuals": {
                  "value": {
                    "query": "784806113663",
                    "type": "INDIVIDUAL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPartyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/party_by": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "party_by"],
        "summary": "Компании Беларуси по УНП",
        "description": "Поиск в справочнике организаций и индивидуальных предпринимателей Беларуси по УНП (учетному номеру налогоплательщика)\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/party_by/"
        },
        "operationId": "findPartyBy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindPartyByPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "190657494"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPartyByResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/party_kz": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "party_kz"],
        "summary": "Компании Казахстана по БИН",
        "description": "Поиск в справочнике организаций и индивидуальных предпринимателей Казахстана по БИН (бизнес-идентификационный номер)\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/party_kz/"
        },
        "operationId": "findPartyKz",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindPartyKzPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "140440031745"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPartyKzResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/bank": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "x-externalDocs": [
        {
          "url": "https://dadata.ru/api/find-bank/"
        },
        {
          "url": "https://confluence.hflabs.ru/pages/viewpage.action?pageId=820117560"
        }
      ],
      "post": {
        "tags": ["findById", "bank"],
        "summary": "Банк по БИК, SWIFT, ИНН или регистрационному номеру",
        "description": "Находит банк по любому из идентификаторов:\n- БИК,\n- SWIFT,\n- ИНН,\n- ИНН + КПП (для филиалов),\n- регистрационному номеру, присвоенному Банком России.\nИщет только по точному совпадению, для частичного совпадения используйте метод suggest.\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/find-bank/"
        },
        "operationId": "findBank",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindBankPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "044525225"
                  }
                },
                "simple_query_swift": {
                  "value": {
                    "query": "SABRRUMM012"
                  }
                },
                "inn_i_kpp": {
                  "value": {
                    "query": "7728168971",
                    "kpp": "667102002"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindBankResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/postal_unit": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "postal_unit"],
        "summary": "Отделение почты РФ по индексу",
        "description": "Находит отделение Почты России по почтовому индексу\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/postal_unit/"
        },
        "operationId": "findPostalUnit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindPostalUnitPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "127642"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPostalUnitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/fns_unit": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "fns_unit"],
        "summary": "Налоговая инспекция по коду или ИНН",
        "description": "Находит запись в справочнике инспекций Налоговой службы по коду инспекции или ИНН\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/fns_unit/"
        },
        "operationId": "findFnsUnit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindFnsUnitPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "127642"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFnsUnitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/fts_unit": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "fts_unit"],
        "summary": "Таможня по коду",
        "description": "Находит запись в справочнике таможенных органов и постов по коду\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/fts_unit/"
        },
        "operationId": "findFtsUnit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindFtsUnitPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "10002000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestFtsUnitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/court": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "court"],
        "summary": "Суд по коду",
        "description": "Находит запись в справочнике судов России по коду суда\nИсточники данных:\n  - [ГАС «Правосудие»](https://sudrf.ru/index.php?id=300&var=true#sp)\n  - [Федеральные арбитражные суды](https://arbitr.ru/)\n  - Сайты судов\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/court/"
        },
        "operationId": "findCourt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindCourtPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "52MS0022"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCourtResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/car_brand": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "car_brand", "cars"],
        "summary": "Марка авто по ID",
        "description": "Получает марку автомобиля по ID, ранее полученному из подсказок по маркам (`suggest/car_brand`) в поле `id`  (`ZAZ`, `FORD`, и т.д.).\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/car_brand/"
        },
        "operationId": "findCarBrand",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindCarBrandPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "FORD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCarBrandResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/country": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "country"],
        "summary": "Страна по коду (стандарт ISO 3166)",
        "description": "Находит страну по одному из кодов:\n- `code` - Цифровой код страны\n- `alfa2` - Буквенный код альфа-2\n- `alfa3` - Буквенный код альфа-3\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/country/"
        },
        "operationId": "findCountry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindCountryPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "TH"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCountryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/currency": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "currency"],
        "summary": "Валюта по коду (стандарт ISO 4217)",
        "description": "Находит валюту по одному из кодов:\n- `code` - Цифровой код валюты\n- `strcode` - Буквенный код валюты\n\nИсточник данных: [Общероссийский классификатор валют (ОКВ)](https://data.gov.ru/opendata/7710168515-okw)\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/currency/"
        },
        "operationId": "findCurrency",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindCurrencyPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "RUB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestCurrencyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/mktu": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "mktu"],
        "summary": "Запись МКТУ по уникальному номеру позиции",
        "description": "Находит запись по уникальному номеру позиции в Международном классификаторе товаров и услуг (МКТУ)\n\nИсточник данных: [Международный классификатор товаров и услуг (МКТУ)](https://www.fips.ru/publication-web/classification/mktu?view=index)\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/mktu/"
        },
        "operationId": "findMktu",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindMktuPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "250173"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestMktuResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/okved2": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "okved2"],
        "summary": "Вид деятельности из ОКВЭД 2 по коду",
        "description": "Находит запись в общероссийском классификаторе видов экономической деятельности (ОКВЭД 2) по коду\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/okved2/"
        },
        "operationId": "findOkved2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindOkved2Payload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "51.22.3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestOkved2Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/okpd2": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "okpd2"],
        "summary": "Вид продукции из ОКПД 2 по коду",
        "description": "Находит запись в Общероссийском классификаторе продукции по видам экономической деятельности (ОКПД 2) по коду\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/okpd2/"
        },
        "operationId": "findOkpd2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindOkpd2Payload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "95.23.10.133"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestOkpd2Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/findById/oktmo": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": ["findById", "oktmo"],
        "summary": "Муниципальные образования (ОКТМО) по коду",
        "description": "Находит запись в Общероссийском классификаторе территорий муниципальных образований (ОКТМО) по коду\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/oktmo/"
        },
        "operationId": "findOktmo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindOktmoPayload"
              },
              "examples": {
                "simple_query": {
                  "value": {
                    "query": "54623425"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestOktmoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SuggestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SuggestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SuggestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SuggestNotFound"
          },
          "405": {
            "$ref": "#/components/responses/SuggestMethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/SuggestContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/SuggestTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/SuggestInternalServerError"
          }
        }
      }
    },
    "/clean/address": {
      "servers": [
        {
          "url": "https://cleaner.dadata.ru/api/v1"
        }
      ],
      "post": {
        "tags": ["clean", "address"],
        "summary": "Стандартизация адресов",
        "description": "- Разбивает адрес по отдельным полям (регион, город, улица, дом, квартира).\n- Рассчитывает корректный индекс по данным Почты России.\n- Определяет координаты.\n- Показывает округ и район города, ближайшее метро, площадь и стоимость квартиры.\n- Достает коды КЛАДР, ФИАС (ГАР), ОКАТО, ОКТМО и ИФНС.\n\n> **Вызовы к API стандартизации из браузера запрещены CORS-политикой сервера «Дадаты».**\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/clean/address/"
        },
        "operationId": "cleanAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCleanPayload"
              },
              "examples": {
                "simple_query": {
                  "value": ["мск сухонска 11/-89"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CleanAddressResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CleanBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CleanUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CleanForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CleanNotFound"
          },
          "405": {
            "$ref": "#/components/responses/CleanMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/CleanTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/CleanInternalServerError"
          }
        },
        "security": [
          {
            "ApiKey": [],
            "SecretKey": []
          }
        ]
      }
    },
    "/clean/name": {
      "servers": [
        {
          "url": "https://cleaner.dadata.ru/api/v1"
        }
      ],
      "post": {
        "tags": ["clean", "fio"],
        "summary": "Стандартизация ФИО",
        "description": "- Исправляет опечатки и транслитерирует.\n- Проставляет пол.\n- Склоняет по падежам (кого? кому? кем?).\n\n> **Вызовы к API стандартизации из браузера запрещены CORS-политикой сервера «Дадаты».**\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/clean/name/"
        },
        "operationId": "cleanFio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCleanPayload"
              },
              "examples": {
                "simple_query": {
                  "value": ["Срегей владимерович иванов"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CleanFioResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CleanBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CleanUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CleanForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CleanNotFound"
          },
          "405": {
            "$ref": "#/components/responses/CleanMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/CleanTooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/CleanInternalServerError"
          }
        },
        "security": [
          {
            "ApiKey": [],
            "SecretKey": []
          }
        ]
      }
    },
    "/clean/email": {
      "servers": [
        {
          "url": "https://cleaner.dadata.ru/api/v1"
        }
      ],
      "post": {
        "tags": ["clean", "email"],
        "summary": "Стандартизация email",
        "description": "- Проверяет формат адреса.\n- Исправляет распространённые опечатки.\n- Проверяет, не «одноразовый» ли адрес.\n- Классифицирует адреса на личные (@mail.ru, @yandex.ru), корпоративные (@myshop.ru) и «ролевые» (info@, support@).\n\n> **Вызовы к API стандартизации из браузера запрещены CORS-политикой сервера «Дадаты».**\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/clean/email/"
        },
        "operationId": "cleanEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCleanPayload"
              },
              "examples": {
                "simple_query": {
                  "value": ["serega@yandex/ru"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CleanEmailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CleanBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CleanUnauthorized"
[...]
